<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Resultados obtenidos:
    </ion-card-header>
    <ion-card-content>
      <div style="height: 400px;" echarts [options]="options" class="demo-chart"></div>
      </ion-card-content>
  </ion-card>
</ion-content>
