<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Encuesta 3it
    </ion-card-header>
    <ion-card-content>
      <div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input email type="email" formControlName="email" placeholder="a***@example.***" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select placeholder="Select One" formControlName="gender" placeholder="Your email">
              <ion-select-option
              *ngFor="let gender of genders; let i = index"
              value="{{gender}}">{{gender}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button shape="round"  expand="full"  ion-button type="submit" block>Guardar</ion-button >
        </form>
      </div>
      </ion-card-content>
  </ion-card>

</ion-content>
