<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Prueba para 3IT</ion-card-subtitle>
      <ion-card-title>Full Stack Developer</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Desarrollada por <b>Juan Carrasco</b> usando Java con el framework Spring boot para el back end y
      Typescript en el front con el framework de Angular.

      Comunicate conmigo via <a href="https://wa.me/+56965356406?text=¡Estoy+interesado!">WhatsApp</a>
    <br>
    Visita mi linkedin <a href="https://www.linkedin.com/in/juan-carrasco-921812125/">aqui!</a>
    </ion-card-content>
  </ion-card>
</ion-content>
